/* Google Fonts import */
@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300..700&display=swap');

/* Override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    font-family: 'Signika', sans-serif;
    background-color: #130049;
    color: #ffffff;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Quiz itself */
.quiz-questions {
    font-size: 3.5rem;
    padding: 0.8rem;
    background-color: #bf9b30;
    border-radius: 4px;
    width: 23rem;
    height: 19rem;
}

#answer-btns {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 0.4rem;
    gap: 0.5rem;
}

.btns {
    font-size: 1.7rem;
    padding: 0.4rem;
    background-color: #ffffff;
    border: none;
    border-radius: 4px;
}

.btns:hover {
    cursor: pointer;
    border: solid 2px #130049;
}

#start-btn {
    font-size: 1.5rem;
    background-color: #bf9b30;
    border: solid 2px red;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}

#start-btn:hover {
    border: solid 4px green;
}

.vanish {
    display: none;
}